{% extends 'layout.html' %}

{% block body %}
  <h1>Min Requirements <small> </small></h1>
  <hr>
  <h2>Search Query</h2>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.select, class="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.search, class="form-control")}}
    </div>
    <p><input type=submit class="btn btn-primary" value=Search></p>
  </form>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Windows</th>
      <th>Linux</th>
      <th>Mac</th>
    </tr>
    {% for g in games %}
      <tr>
        <td>{{g.responseName}}</td>
        <td>{{g.winReq}}</td>
        <td>{{g.linuxReq}}</td>
        <td>{{g.macReq}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
